<%- include('header')%>
    <main class="container mt-4">
        <h1>My Books</h1>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">To be read</li>
                    <li class="list-group-item">Currently reading</li>
                    <li class="list-group-item">Finished</li>
                </ul>
                <button class="btn btn-primary mt-3">Add tag</button>
            </div>
            <div class="col-md-9">
                <div class="book-list">
                    <div class="book-item d-flex justify-content-between align-items-center border p-2 mb-2">
                        <div>
                            <h5>Title</h5>
                            <p>Author</p>
                            <p>My rating</p>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-secondary">Add tag</button>
                            <button class="btn btn-sm btn-warning">Rate</button>
                            <button class="btn btn-sm btn-info">Review</button>
                            <button class="btn btn-sm btn-danger">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include('footer')%>