<%- include('header')%>
    <main class="container mt-4">
        <h1>Manage users</h1>
        <div class="search-bar mb-3 d-flex">
            <input type="text" class="form-control" placeholder="search">
            <button class="btn btn-primary ml-2" onclick="window.location.href='add_user.html'">Add user</button>
        </div>
        <div class="user-list">
            <div class="user-item d-flex justify-content-between align-items-center border p-2 mb-2">
                <span>Username</span>
                <div class="d-flex justify-content-between align-items-center">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input"> Admin
                    </label>
                    <button class="btn btn-sm btn-danger ml-3">Delete</button>
                </div>
            </div>
        </div>
    </main>
<%- include('footer')%>
